language: php

php:
  - 5.3
  - 5.4
  - 5.5

env:
  global:
    - PLUGIN_NAME=PowerRouter

  matrix:
    - CAKE_VERSION=2.4
    - CAKE_VERSION=2.5

matrix:
  include:
    - php: 5.4
      env:
        - COVERALLS=1 CAKE_VERSION=2.5
    - php: 5.4
      env:
        - PHPCS=1 CAKE_VERSION=2.5
    - php: 5.4
      env:
        - FOC_VALIDATE=1 CAKE_VERSION=2.5

before_script:
  - git clone -b master https://github.com/FriendsOfCake/travis.git --depth 1 ../travis
  - ../travis/before_script.sh

script:
  - ../travis/script.sh

after_success:
  - ../travis/after_success.sh

notifications:
  email: false